{% extends "html/base.html.twig" %}

{% block breadcrumbs %}
    <li>
        <div class="flex items-center">
            <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            <a href="#" data-router-navigate="/gear-stats" class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2">{{ "Gear"|trans }}</a>
        </div>
    </li>
{% endblock %}
{% block content %}
    {% autoescape false %}
        <!-- GEAR STATS -->
        <div class="grid grid-cols-1 mb-4">
            <!-- STATS PER GEAR -->
            <div class="mb-4 p-4 bg-white border border-gray-200 rounded-lg shadow-xs sm:p-6">
                <h3 class="mb-4 text-lg font-semibold">
                    {{ "Gear stats"|trans }}
                </h3>
                <div class="relative overflow-x-auto">
                    <table class="w-full text-sm text-center text-gray-500">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th scope="col" class="px-2 py-3 sticky left-0 bg-gray-50">

                            </th>
                            <th scope="col" class="px-6 py-3">
                                # {{ "workouts"|trans }}
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <div class="flex items-center justify-center">
                                    {{ renderSvg('distance') }}
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <div class="flex items-center justify-center">
                                    {{ renderSvg('elevation') }}
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <div class="flex items-center justify-center">
                                    {{ renderSvg('time') }}
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <div class="flex items-center justify-center">
                                    {{ renderSvg('speed') }}
                                </div>
                            </th>
                            <th scope="col" class="px-2 py-3">
                                <div class="flex items-center justify-center">
                                    {{ renderSvg('calories') }}
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for statistic in gearStatistics.getRows() %}
                            <tr class="{{ cycle(['bg-white border-b', 'border-b bg-gray-50'], loop.index0) }}">
                                <th scope="row" class="px-2 py-2 sticky left-0 font-medium text-gray-900 whitespace-nowrap {{ cycle(['bg-white', 'bg-gray-50'], loop.index0) }}">
                                    {{ statistic.name }}
                                </th>
                                <td class="px-6 py-2 truncate">
                                    {{ statistic.numberOfWorkouts }}
                                </td>
                                <td class="px-6 py-2 truncate">
                                    {% if statistic.distance.toFloat() > 0 %}
                                        {{ renderComponent('measurement', {'measurement': statistic.averageDistance, 'precision': 0, 'symbolSuffix': 'avg'}) }} /
                                        {{ renderComponent('measurement', {'measurement': statistic.distance, 'precision': 0, 'symbolSuffix': 'total'}) }}
                                    {% else %}
                                        0<span class="text-xs">{{ statistic.distance.getSymbol() }}</span>
                                    {% endif %}
                                </td>
                                <td class="px-6 py-2 truncate">
                                    {{ renderComponent('measurement', {'measurement': statistic.elevation, 'precision': 0}) }}
                                </td>
                                <td class="px-6 py-2 truncate">
                                    {{ statistic.movingTime }}
                                </td>
                                <td class="px-6 py-2 truncate">
                                    {{ renderComponent('measurement', {'measurement': statistic.averageSpeed, 'precision': 1}) }}
                                </td>
                                <td class="px-6 py-2 truncate">
                                    {{ statistic.totalCalories|formatNumber(0) }}<span class="text-xs">kcal</span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- DISTANCE PER MONTH PER GEAR -->
            <div class="mb-4  p-4 bg-white border border-gray-200 rounded-lg shadow-xs sm:p-6">
                <div class="mb-4 flex items-center">
                    <h3 class="text-lg font-semibold">
                        {{ "Distance per month per gear"|trans }}
                    </h3>
                    <button data-popover-target="popover-distance-per-month" data-popover-placement="right" type="button">
                        <svg class="w-4 h-4 ml-1 text-gray-400 hover:text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">{{ "Show information"|trans }}</span>
                    </button>
                    <div data-popover id="popover-distance-per-month" role="tooltip" class="w-[200px] lg:w-[450px] absolute z-100 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0">
                        <p class="p-3">
                            {{ "Gear that hasn't been used in the last three months, is disabled by default."|trans }}
                        </p>
                    </div>
                </div>
                <div class="relative overflow-x-auto">
                    <div class="h-[24rem]" data-echarts-options='{{ distancePerMonthPerGearChart }}'></div>
                </div>
            </div>
            <!-- DISTANCE OVER TIME PER GEAR -->
            <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-xs sm:p-6">
                <div class="mb-4 flex items-center">
                    <h3 class="text-lg font-semibold">
                        {{ "Distance over time per gear"|trans }}
                    </h3>
                    <button data-popover-target="popover-distance-overtime" data-popover-placement="right" type="button">
                        <svg class="w-4 h-4 ml-1 text-gray-400 hover:text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">{{ "Show information"|trans }}</span>
                    </button>
                    <div data-popover id="popover-distance-overtime" role="tooltip" class="w-[200px] lg:w-[450px] absolute z-100 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0">
                        <p class="p-3">
                            {{ "Gear that is retired is disabled by default."|trans }}
                        </p>
                    </div>
                </div>
                <div class="relative overflow-x-auto">
                    <div class="h-[24rem]" data-echarts-options='{{ distanceOverTimePerGear }}'></div>
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}