{% extends "html/base.html.twig" %}

{% block breadcrumbs %}
    <li>
        <div class="flex items-center">
            <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            <a href="#" data-router-navigate="/eddington" class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2">{{ "Eddington"|trans }}</a>
        </div>
    </li>
{% endblock %}
{% block content %}
    {% autoescape false %}
        <div class="grid grid-cols-1 gap-4">
            <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-xs sm:p-6">
                <blockquote class="p-4 mb-4 border-l-4 border-gray-300 bg-gray-50">
                    <p class="italic leading-relaxed text-gray-600 mb-4">{{ "The Eddington number in the context of cycling or running is defined as the maximum number E such that the athlete has covered at least E km on at least E days."|trans }}</p>
                    <p class="italic leading-relaxed text-gray-600">{{ "For example, an Eddington number of 70 would imply that a cyclist has cycled at least 70 km or miles in a day on at least 70 occasions. Achieving a high Eddington number is difficult, since moving from, say, 70 to 75 will (probably) require more than five new long-distance workouts, since any workout shorter than 75 km or miles will no longer be included in the reckoning."|trans }}</p>
                </blockquote>
            </div>
            <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-xs sm:p-6">
                {% if eddingtons|length > 1 %}
                    <div class="mb-4 border-b border-gray-200">
                        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="activityTypeTab" data-tabs="#activityTypeTabContent" role="tablist">
                            {% for activityType,eddington in eddingtons %}
                                <li class="mr-2" role="presentation">
                                    <a href="#" data-tabs-target="#{{ activityType }}" role="tab" aria-controls="{{ activityType }}" class="inline-flex items-center justify-center p-2 border-b-2 rounded-t-lg group">
                                        {{ enum('App\\Domain\\Strava\\Activity\\ActivityType').from(activityType)|trans }} ({{ eddington.getNumber() }})
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div id="activityTypeTabContent">
                    {% for activityType,eddington in eddingtons %}
                        <div id="{{ activityType }}" role="tabpanel" aria-labelledby="{{ activityType }}-tab">
                            <!-- EDDINGTON CHART -->
                            <div class="h-64" data-echarts-options='{{ eddingtonCharts[activityType] }}'></div>
                            <!-- HISTORY -->
                            <h3 class="font-bold mt-6 mb-2">{{ "History"|trans }}</h3>
                            <div class="h-64" data-echarts-options='{{ eddingtonHistoryCharts[activityType] }}'></div>
                            <!-- DAYS NEEDED -->
                            <h3 class="font-bold mt-6 mb-2">{{ "Days needed"|trans }}</h3>
                            <div class="relative overflow-x-auto">
                                <table class="w-full text-sm text-center text-gray-500">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                                    <tr>
                                        {% for eddingtonNumber,daysNeeded in eddington.getDaysToCompleteForFutureNumbers() %}
                                            <th scope="col" class="px-6 py-3">
                                                {{ eddingtonNumber }}<span class="text-xs">{{ distanceUnit }}</span>
                                            </th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="bg-white border-b">
                                        {% for eddingtonNumber,daysNeeded in eddington.getDaysToCompleteForFutureNumbers() %}
                                            <td class="px-6 py-2">
                                                {{ daysNeeded }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}