{% autoescape false %}
<tr class="odd:bg-white border-b even:border-b even:bg-gray-50">
    <td class="px-2 py-2 text-left">
        <div class="flex items-center gap-x-1">
            <a href="#" data-model-content-url="{{ relativeUrl('segment/' ~ segment.getId() ~ '.html') }}" class="flex items-center gap-x-1 font-medium text-blue-600 hover:underline" rel="nofollow">
                {% if segment.getSportType().isVirtualRide() %}
                    {% if segment.isZwiftSegment() %}
                        {{ renderSvg('zwift-logo') }}
                    {% elseif segment.isRouvySegment() %}
                        {{ renderSvg('rouvy-logo') }}
                    {% else %}
                        {{ renderSvg('indoor-bike') }}
                    {% endif %}
                {% else %}
                    {{ renderSvg(segment.getSportType().getSvgIcon(), {'customPath': 'svg/sport-type'}) }}
                {% endif %}
                <span class="truncate">{{ segment.getName()|ellipses(50) }}</span>
            </a>
        </div>
    </td>
    <td class="px-2 py-2">
        <div class="flex justify-center">
            <div class="w-[13rem]">
                {{ segment.getBestEffort().getElapsedTimeFormatted() }}
                <span class="font-medium">-</span>
                {{ renderComponent('measurement', {'measurement': segment.getBestEffort().getAverageSpeed(), 'precision': 1}) }}
                {% if segment.getBestEffort().getAverageWatts() %}
                    <span class="font-medium">-</span> {{ segment.getBestEffort().getAverageWatts()|formatNumber(0) }}<span class="text-xs">w</span>
                {% endif %}
            </div>
        </div>
    </td>
    <td class="px-2 py-2">
        {{ renderComponent('measurement', {'measurement': segment.getDistance(), 'precision': 2}) }}
    </td>
    <td class="px-2 py-2">
        {{ segment.getMaxGradient() }}<span class="text-xs">%</span>
    </td>
    <td class="px-2 py-2">
        {{ segment.getNumberOfTimesRidden() }}
    </td>
</tr>
{% endautoescape %}