{% extends "html/base.html.twig" %}

{% block breadcrumbs %}
    <li>
        <div class="flex items-center">
            <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd"></path>
            </svg>
            <a href="#" data-router-navigate="/rewind"
               class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2">{{ "Rewind"|trans }}</a>
        </div>
    </li>
    {% if availableRewindYears.getFirst() != activeRewindYear %}
        <li>
            <div class="flex items-center">
                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"></path>
                </svg>
                <a href="#" data-router-navigate="/rewind/{{ activeRewindYear }}"
                   class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2">{{ activeRewindYear }}</a>
            </div>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    {% autoescape false %}
        {% if availableRewindYears|length > 1 %}
        <div class="mb-4 p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
            <div class="flex gap-x-2">
                <div>
                    <button id="dropdownRewindYearButton" data-dropdown-toggle="dropdownRewindYear"
                            class="cursor-pointer w-fit text-white bg-strava-orange hover:bg-orange-600 focus:ring-4 focus:outline-hidden focus:ring-orange-300 font-medium rounded-lg text-sm px-3 py-2 inline-flex items-center justify-between"
                            type="button">
                        {{ "Rewind"|trans }} {{ activeRewindYear }}
                        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="m1 1 4 4 4-4"/>
                        </svg>
                    </button>
                    <div id="dropdownRewindYear" class="z-1002 w-fit hidden bg-white rounded-lg shadow-sm">
                        <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownRewindYearButton">
                            {% for rewindYear in availableRewindYears|filter(rewindYear => rewindYear != activeRewindYear) %}
                                <li>
                                    <a href="#" data-router-navigate="/rewind/{{ rewindYear }}" class="block px-4 py-2 hover:bg-gray-100 ">{{ "Rewind"|trans }} {{ rewindYear }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div>
                    <button id="dropdownRewindYearCompareToButton" data-dropdown-toggle="dropdownRewindYearCompareTo"
                            class="cursor-pointer w-fit text-white bg-strava-orange hover:bg-orange-600 focus:ring-4 focus:outline-hidden focus:ring-orange-300 font-medium rounded-lg text-sm px-3 py-2 inline-flex items-center justify-between"
                            type="button">
                        {{ "Compare to"|trans }}
                        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="m1 1 4 4 4-4"/>
                        </svg>
                    </button>
                    <div id="dropdownRewindYearCompareTo" class="z-1002 w-fit hidden bg-white rounded-lg shadow-sm">
                        <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownRewindYearCompareToButton">
                            {% for rewindYear in availableRewindYears|filter(rewindYear => rewindYear != activeRewindYear) %}
                                <li>
                                    <a href="#" data-router-navigate="/rewind/{{ activeRewindYear }}/compare/{{ rewindYear }}" class="block px-4 py-2 hover:bg-gray-100 ">{{ "Rewind"|trans }} {{ rewindYear }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="grid lg:grid-cols-2 gap-4">
            {% for item in rewindItems %}
                {% include 'html/rewind/rewind-item.html.twig' with {'item': item, 'extraClass': loop.first ? 'lg:col-span-2': '' } %}
            {% endfor %}
        </div>
        <div class="mt-4 p-4 bg-white text-xs border border-gray-200 rounded-lg shadow-xs">
            <p>
                These charts are based on <a href="https://github.com/atefkbenothman" class="underline" target="_blank">Kai's</a> work,
                go <a href="https://github.com/atefkbenothman/strava-recap" class="underline" target="_blank">check it out</a>
            </p>
            <div class="mt-4 flex items-center p-2 text-sm text-blue-800 border border-blue-300 rounded-lg bg-blue-50"
                 role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Info</span>
                <div class="text-xs">
                    {{ "Your Strava {year} rewind will be available on the 24th of December."|trans({'{year}': now.format('Y')}) }}
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}