{% autoescape false %}
<tr class="group odd:bg-white border-b even:border-b even:bg-gray-50">
    <td class="px-2 py-2">
        {{ activity.getStartDate()|formatDate() }}
    </td>
    <td class="px-2 py-2 truncate lg:sticky lg:left-0 group-odd:bg-white group-even:bg-gray-50">
        {{ renderComponent('activity-title', {'activity': activity, 'ellipses': 50}) }}
    </td>
    <td class="px-6 py-2">
        {{ renderComponent('measurement', {'measurement': activity.getDistance(), 'precision': 0}) }}
    </td>
    <td class="px-6 py-2">
        <div class="w-[4rem]">{{ renderComponent('measurement', {'measurement': activity.getElevation(), 'precision': 0}) }}</div>
    </td>
    <td class="px-6 py-2">
        {{ activity.getMovingTimeFormatted() }}
    </td>
    <td class="px-6 py-2">
        {{ renderComponent('measurement', {'measurement': activity.getAverageSpeed(), 'precision': 1}) }}
    </td>
    <td class="px-6 py-2">
        {{ activity.getAverageHeartRate() ?? 'n/a' }}
    </td>
    <td class="px-6 py-2">
        {{ activity.getCalories() }}<span class="text-xs">kcal</span>
    </td>
    <td class="px-6 py-2">
        {{ activity.getAveragePower() ? activity.getAveragePower() ~ '<span class="text-xs">w</span>': 'n/a' }}
    </td>
    {% for timeInterval in timeIntervals %}
        {% set powerOutput = activity.getBestAveragePowerForTimeInterval(timeInterval) %}
        {% if powerOutput %}
            <td class="px-2 py-2 border-l-2">
                {{ powerOutput.getPower() }}<span class="text-xs">w</span>
            </td>
            <td class="px-2 py-2 border-r-2">
                {{ powerOutput.getRelativePower() }}<span class="text-xs">w/kg</span>
            </td>
        {% else %}
            <td class="px-2 py-2"></td>
            <td class="px-2 py-2"></td>
        {% endif %}
    {% endfor %}
</tr>
{% endautoescape %}