{% autoescape false %}
    <a href="#" data-model-content-url="{{ relativeUrl('activity/' ~ activity.getId() ~ '.html') }}" class="flex items-center gap-x-1 font-medium text-blue-600 hover:underline" rel="nofollow">
        {% if activity.getSportType().isVirtualRide() %}
            {% if activity.isZwiftRide() %}
                {{ renderSvg('zwift-logo') }}
            {% elseif activity.isRouvyRide() %}
                {{ renderSvg('rouvy-logo') }}
            {% else %}
                {{ renderSvg('indoor-bike') }}
            {% endif %}
        {% else %}
            {{ renderSvg(activity.getSportType().getSvgIcon(), {'customPath': 'svg/sport-type'}) }}
        {% endif %}
        {% if ellipses %}
            <span>{{ activity.getName()|ellipses(ellipses) }}</span>
        {% else %}
            <span class="{{ truncate ? 'truncate': '' }}">{{ activity.getName() }}</span>
        {% endif %}
    </a>
{% endautoescape %}