{% autoescape false %}
    {% set classes = ['font-medium text-blue-600 hover:underline'] %}
    {% if not hideIcon %}
        {% set classes = classes|merge(['flex items-center gap-x-1']) %}
    {% endif %}
    <a href="#" data-model-content-url="activity/{{ activity.getId() }}.html" class="{{ classes|join(' ') }}" rel="nofollow">
        {% if not hideIcon %}
            {% if activity.getType().isRide() and activity.getType().isVirtual() %}
                {% if activity.isZwiftRide() %}
                    {{ renderSvg('zwift-logo') }}
                {% elseif activity.isRouvyRide() %}
                    {{ renderSvg('rouvy-logo') }}
                {% else %}
                    {{ renderSvg('indoor-bike') }}
                {% endif %}
            {% elseif activity.getType().isRide() %}
                {{ renderSvg('bike') }}
            {% elseif activity.getType().isRun() %}
                {{ renderSvg('run') }}
            {% endif %}
        {% endif %}
        {% if ellipses %}
            <span>{{ activity.getName()|ellipses(ellipses) }}</span>
        {% else %}
            <span class="{{ truncate ? 'truncate': '' }}">{{ activity.getName() }}</span>
        {% endif %}
    </a>
{% endautoescape %}